.nav a:focus, .nav a:hover {
   text-decoration: none;
   font-size: 1.2em;
   font-weight: 900;
   color: royalblue;
   overflow: hidden;
}

.nav {
	padding-left: 10%;
	padding-right: 10%;
	height: 25px;
	max-height: 25px;
}